* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}
body {
  background: linear-gradient(lightblue, darkblue);
  height: 100vh;
}
[class^="box-"] {
  display: grid;
  place-items: center;
  border: 5px rgb(196, 41, 41) solid;
  padding: 10px;
  border-radius: 20px;
  color: white;
}
.intermediate {
  height: 90vh;
  width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 20px;
}
@media (min-width: 700px) {
  .intermediate {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 80px 300px 80px 100px;
  }
  .intermediate .box-1 {
    grid-column: 1 / 13;
  }
  .intermediate .box-2 {
    grid-column: 1 / 13;
  }
  .intermediate .box-3 {
    grid-column: 1 / 13;
  }
  .intermediate .box-4 {
    grid-column: 1 / 7;
  }
  .intermediate .box-5 {
    grid-column: 7 / 13;
  }

  .intermediate .box-6 {
    grid-column: 1 / 13;
  }
}
@media (min-width: 900px) {
  .intermediate {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 400px 100px;
  }
  .intermediate .box-1 {
    grid-column: 1 / 13;
  }
  .intermediate .box-2 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .intermediate .box-3 {
    grid-column: 3 / 10;
    grid-row: 2 / 4;
  }
  .intermediate .box-4 {
    grid-column: 1 / 3;
    grid-row: 4  / 5;
  }
  .intermediate .box-5 {
    grid-column: 10 / 13;
    grid-row: 2 / 4;
  }
  .intermediate .box-6 {
    grid-column: 3 / 13;
    grid-row: 4  / 5;

  }
}
