*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --dark-color: #1f2937;
  --header-color: #f9faf8;
  --text-color: #e5e7eb;
  --button-color: #3882f6;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-color);
  color: var(--header-color);
  width: 100%;
}

h3 {
  font-size: 24px;
  color: var(--header-color);
  margin: 10px;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px;
  font-size: 18px;
}

/* HERO */

.hero {
  display: flex;
  background-color: var(--dark-color);
  color: var(--header-color);
  height: 450px;
  margin: auto;
  padding: 100px;
}

.hero-content {
  margin: 15px;
}

.hero p {
  color: var(--text-color);
  font-size: 18px;
}

.btn {
  width: 100px;
  padding: 5px;
  color: var(--header-color);
  background-color: var(--button-color);
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}

.hero-image {
  height: 250px;
  width: 450px;
}

/* SECTION */

section {
  margin: 30px 0;
}

.section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.flex-item {
  margin-top: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: var(--dark-color);
  font-weight: bolder;
}

.section-image {
  border: 3px solid var(--button-color);
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

/* QUOTE */

.quote {
  margin-top: 100px;
  height: 400px;
  width: auto;
  background-color: var(--text-color);
  color: var(--dark-color);
  font-size: 36px;
  padding: 100px;
}

span {
  font-weight: bold;
  font-size: 18px;
  padding-left: 900px;
}
/* FOOTER */

footer {
  background-color: var(--dark-color);
  color: var(--text-color);
}
